@import 'node_modules/normalize-scss/sass/normalize/import-now';

@import '@/assets/scss/components/header.scss';
@import '@/assets/scss/components/footer.scss';

@import '@/assets/scss/views/home.scss';

@import '@/assets/scss/common.scss';
@import '@/assets/scss/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 80px;
        --color-black: #2a2a2a;
        --color-gray: #eeeeee;
        --color-main: #54a3ed;
        --color-white: #ffffff;
        --color-hover: #2c88e1;
        --color-border-blue: #96C8F6;
    }
}

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
