@import 'node_modules/normalize-scss/sass/normalize/import-now';

@import '@/assets/scss/components/header.scss';
@import '@/assets/scss/components/footer.scss';
@import '@/assets/scss/components/popup.scss';

@import '@/assets/scss/views/home.scss';
@import '@/assets/scss/views/sub.scss';

@import '@/assets/scss/common.scss';
@import '@/assets/scss/variables.scss';

@import 'vue3-timepicker/dist/VueTimepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --full-width: 1200px;
        --body-width: 73%;
        --mobile-body-width: 88%;
        --header-height: 80px;
        --color-black: #000000;
        --color-gray: #eeeeee;
        --color-main: #54a3ed;
        --color-white: #ffffff;
        --color-skyblue: #E8F4FF;
        --color-hover: #2c88e1;
        --color-main-blue: #2c88e1;
        --color-border-blue: #96C8F6;
        --color-text-black: #2A2A2A;
        --color-text-gray: #999999;
    }
}

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
