@import '@/assets/scss/variables.scss';

.header-wrapper {
    //height: $header-height;
    //background-color: $color-white;

    .logo-wrapper {
        img {
        }
    }

    .category-wrapper {
        .category-contents {

            .slide-fade-enter-active,
            .slide-fade-leave-active {
                transition: all 0.25s ease;
                transform: scaleY(1);
                transform-origin: top;
                overflow: hidden;
            }

            .slide-fade-enter-from,
            .slide-fade-leave-to {
                transform: scaleY(0);
            }

            .slide-fade-enter-to,
            .slide-fade-leave-from {
                transform: scaleY(1);
                transform-origin: top;
            }
        }
    }
}
