@import '@/assets/scss/variables.scss';

.header-wrapper {
    //height: $header-height;
    //background-color: $color-white;

    .logo-wrapper {
        img {
        }
    }

    .category-wrapper {
        .category-body {
            transition: all 0.2s ease;
        }

        .category-contents {
        }
    }
}

.mobile-menu {
    .header-body {
        .title-wrapper {
            .arrow-wrapper {
                &.active {
                    animation: openSpin 0.25s linear;
                    transform: rotate(-180deg);
                }

                //transform: rotate(0deg);
                //animation: closeSpin 0.25s linear;
            }
        }
    }

    .slide-horizontal-enter-active,
    .slide-horizontal-leave-active {
        transition: all 0.25s;
        max-width: 100%;
    }

    .slide-horizontal-enter-from,
    .slide-horizontal-leave-to {
        opacity: 0;
        max-width: 0;
    }

    .slide-vertical-enter-active,
    .slide-vertical-leave-active {
        transition: all 0.25s;
        max-height: 300px;
    }

    .slide-vertical-enter-from,
    .slide-vertical-leave-to {
        opacity: 0;
        max-height: 0;
    }
}
