.popup-wrapper {
    .popup-payment {
        .contents-area {
            &.service-page {
                .content {
                    &:first-child {
                        margin-right: 5px;
                    }

                    &:nth-child(2) {
                        margin-left: 5px;
                    }

                    &:nth-child(3) {
                        grid-row: 2 / 3;
                        grid-column: 1 / 4;
                    }

                    &:last-child {
                        grid-row: 3 / 3;
                        grid-column: 1 / 4;
                    }
                }
            }
        }

        div {
            &.payment-product {
                .head-area {
                }
                .contents-area {
                    .content {
                        img {
                            aspect-ratio: 40 / 40;
                        }
                    }
                }
            }

            &.payment-room {
                .head-area {
                }
                .contents-area {
                    .first-row {
                    }

                    .content {
                        img {
                            aspect-ratio: 40 / 40;
                        }
                    }
                }
            }
        }
    }

    @include mobile {
        .popup-payment {
            width: 100%;
            height: 100vh;
            overflow-y: scroll;

            .payment-input {
                .contents-area {
                    .content-box {
                        flex-direction: column;
                        align-items: start;

                        div {
                            &:first-child {
                                margin-bottom: 5px;
                            }
                        }

                        .input-wrapper {
                            width: 100%;
                            max-width: 100%;
                        }

                        .date-wrapper {
                            width: 100%;
                            max-width: 100%;
                        }

                        .select-wrapper {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }

            .payment-product {
                .contents-area {
                    display: flex;
                    flex-direction: column;

                    .content {
                        margin-left: 0 !important;
                        margin-right: 0!important;
                    }

                    padding-bottom: 35px;
                }
            }

            .head-area {
                span {
                    &:first-child {
                        font-size: 24px;
                    }
                    &:last-child {

                    }
                }
            }
        }
    }
}
