.main-wrapper {
    padding-top: $header-height;
    width: 100vw;

    .main-image-wrapper {
        //height: calc(100vh - $header-height);
        height: max-content;
        width: 100%;

        .flicking-viewport {
            width: 100%;
            .flicking-camera {
                width: 200vw;
                .image-item {
                    width: 100vw;
                    &.first {
                        background-image: url('/assets/images/home/clinic_main_small_1@2x.webp');
                        background-size: cover;
                        aspect-ratio: 1200 / 595;

                        @media (min-width: 1200px) {
                            background-image: url('/assets/images/home/clinic_main_big_1@2x.webp');
                            aspect-ratio: 1920 / 595;
                        }

                        @include mobile {
                            background-image: url('/assets/images/home/clinic_main_1_mobile@2x.webp');
                            background-size: cover;
                            aspect-ratio: 375 / 595;
                        }
                    }

                    &.second {
                        background-image: url('/assets/images/home/clinic_main_small_2@2x.webp');
                        background-size: cover;
                        aspect-ratio: 1200 / 595;

                        @media (min-width: 1200px) {
                            background-image: url('/assets/images/home/clinic_main_big_2@2x.webp');
                            aspect-ratio: 1920 / 595;
                        }

                        @include mobile {
                            background-image: url('/assets/images/home/clinic_main_2_mobile@2x.webp');
                            background-size: cover;
                            aspect-ratio: 375 / 595;
                        }
                    }
                }
            }
        }

        @include mobile {
            .contents-wrapper {
                .image-content {
                    width: 100%;
                    height: 100%;
                    padding: 20% 8%;
                    align-items: center;
                    justify-content: center;

                    .main-text {
                        line-height: 49px;
                        font-size: 38px;
                    }

                    .sub-text {
                        padding: 0% 4%;
                        text-align: center;
                        line-height: 31px;
                        font-size: 24px;
                    }

                    .payment-btn {
                        width: 78%;
                        max-width: 245px;
                        margin-top: 220px;
                        aspect-ratio: 245/55;
                    }
                }
            }
        }
    }

    .main-contents-wrapper {
        .intro-wrapper {
            .text-area {
                //div:first-child {
                //    font-weight: 600;
                //    font-size: 24px;
                //    line-height: 29px;
                //}
                //
                //div:last-child {
                //    font-weight: 400;
                //    font-size: 16px;
                //    line-height: 19px;
                //}
            }
            .image-area {
                .intro-box {
                    img {
                        aspect-ratio: 280 / 250;
                    }

                    &:hover .hover-filter {
                        display: block;
                    }

                    &:hover .text-label {
                        display: none;
                    }
                }
            }

            @include mobile {
                width: $mobile-body-width;
                margin-top: 80px;
                margin-bottom: 70px;

                .text-area {
                }

                .image-area {
                    flex-direction: column;

                    .content {
                        width: 100%;
                        margin-bottom: 10px;

                        img {
                            aspect-ratio: 325/135 !important;
                        }

                        .hover-filter {
                            background-color: rgba(0, 0, 0, 0.55);
                        }

                        .text-label {
                            margin-left: 54%;
                            width: 46%;
                            border-top-left-radius: 25px;

                            span {
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }

        .promotion-wrapper {
            .promotion-contents {
                .content {
                    img {
                        aspect-ratio: 280 / 310;
                    }
                }
            }

            @include mobile {
                width: 100%;
                padding-left: 6%;
                .flicking-viewport {
                    justify-content: start;
                    padding: 16% 6% 16% 0%;

                    .flicking-camera {
                        display: flex;
                        margin-right: 6%;

                        .content {
                            margin-right: 15px;
                            width: 40vw;

                            img {
                                aspect-ratio: 150 / 180;
                            }
                        }
                    }
                }
            }
        }

        .service-wrapper {
            .service-contents {
                .contents-wrapper {
                    div {
                        .service-img {
                            aspect-ratio: 430 / 300;
                        }
                    }
                }
            }

            @include mobile {
                width: $mobile-body-width;
                margin-top: 80px;
                margin-bottom: 65px;

                .service-contents {
                    .text-wrapper {
                        align-items: start;
                        margin-bottom: 20px;

                        .text-title {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            margin-bottom: 5px;
                        }

                        .text-sub {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .contents-wrapper {
                        gap: 0 10px;

                        div {
                            .service-img {
                                margin-bottom: 20px;
                                aspect-ratio: 158 / 110;
                            }

                            .description {
                                width: 100%;
                                margin-bottom: 15px;

                                .description-title {
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 21px;
                                }

                                .description-sub {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                .description-button {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .slider-wrapper {
            .slider-contents {
                @media (min-width: 1200px) {
                    padding-left: calc((100vw - $body-width) / 2);
                }

                .img-area {
                    .image-container {
                        &:first-child {
                            img {
                                aspect-ratio: 267 / 321;
                            }
                        }

                        img {
                            aspect-ratio: 222 / 320;
                        }
                    }
                }
            }

            @include mobile {
                width: $mobile-body-width;

                .slider-contents {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 15px;

                    .text-area {
                        width: 100%;
                        //margin-left: 0px;

                        div {
                            font-weight: 700;
                            font-size: 38px;
                            line-height: 45px;
                        }
                    }

                    .flicking-viewport {
                        .flicking-camera {
                            display: flex;

                            .image-container {
                                &:first-child {
                                    width: 38.4vw;
                                }

                                width: 31.7vw;
                                margin-right: 5px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .scroll-wrapper {
            width: 100%;
            .banner-content {
                .banner {
                    &:nth-child(2) {
                        .img-wrapper {
                            &:first-child {
                                -webkit-animation: middleBannerMove 13s linear infinite;
                                -moz-animation: middleBannerMove 13s linear infinite;
                                -ms-animation: middleBannerMove 13s linear infinite;
                                -o-animation: middleBannerMove 13s linear infinite;
                                animation: middleBannerMove 13s linear infinite;
                            }

                            &:last-child {
                                -webkit-animation: middleBannerMove-2 13s linear infinite;
                                -moz-animation: middleBannerMove-2 13s linear infinite;
                                -ms-animation: middleBannerMove-2 13s linear infinite;
                                -o-animation: middleBannerMove-2 13s linear infinite;
                                animation: middleBannerMove-2 13s linear infinite;
                            }
                        }
                    }

                    &:first-child,
                    &:last-child {
                        .img-wrapper {
                            &:first-child {
                                -webkit-animation: bannerMove 13s linear infinite;
                                -moz-animation: bannerMove 13s linear infinite;
                                -ms-animation: bannerMove 13s linear infinite;
                                -o-animation: bannerMove 13s linear infinite;
                                animation: bannerMove 13s linear infinite;
                            }

                            &:last-child {
                                -webkit-animation: bannerMove-2 13s linear infinite;
                                -moz-animation: bannerMove-2 13s linear infinite;
                                -ms-animation: bannerMove-2 13s linear infinite;
                                -o-animation: bannerMove-2 13s linear infinite;
                                animation: bannerMove-2 13s linear infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes bannerMove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-moz-keyframes bannerMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes "bannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-ms-keyframes "bannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-o-keyframes "bannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes bannerMove-2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-moz-keyframes bannerMove-2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes "bannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-ms-keyframes "bannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-o-keyframes "bannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes middleBannerMove {
    0% {
        transform: translateX(calc(0% - 55px));
    }
    100% {
        transform: translateX(calc(-100% - 55px));
    }
}

@-moz-keyframes middleBannerMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes "middleBannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-ms-keyframes "middleBannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-o-keyframes "middleBannerMove" {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes middleBannerMove-2 {
    0% {
        transform: translateX(calc(100% - 55px));
    }
    100% {
        transform: translateX(calc(0% - 55px));
    }
}

@-moz-keyframes middleBannerMove-2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes "middleBannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-ms-keyframes "middleBannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-o-keyframes "middleBannerMove-2" {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
