.main-wrapper {
    padding-top: $header-height;

    .main-image-wrapper {
        width: 100vw;
        height: calc(100vh - $header-height);

        .main-image {
            background-image: url('@/assets/images/home/clinic_main@1x.jpg');
            background-size: cover;
        }
    }

    .main-contents-wrapper {
        .intro-wrapper {
            .text-area {
            }
            .image-area {
                .first-intro,
                .second-intro,
                .third-intro {
                    &:hover .hover-filter {
                        display: block;
                    }

                    &:hover .text-label {
                        display: none;
                    }
                }
            }
        }

        .promotion-wrapper {
        }

        .slider-wrapper {
            .slider-contents {
                .text-area {
                    width: calc((100vw - 880px) / 2 + 300px);
                    padding-left: calc((100vw - 880px) / 2);
                }

                .flicking-area {
                    .flicking-camera {
                        display: flex;
                        padding-left: 20px;
                    }
                }
            }
        }

        .scroll-wrapper {
            .banner-content {
                .image-content {
                    &:first-child {
                        -webkit-animation: bannerMove 20s linear infinite;
                        -moz-animation: bannerMove 20s linear infinite;
                        -ms-animation: bannerMove 20s linear infinite;
                        -o-animation: bannerMove 20s linear infinite;
                        animation: bannerMove 20s linear infinite;
                    }

                    @keyframes bannerMove {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-100%);
                        }
                    }

                    @-moz-keyframes bannerMove {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-100%);
                        }
                    }

                    @-webkit-keyframes "bannerMove" {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-100%);
                        }
                    }

                    @-ms-keyframes "bannerMove" {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-100%);
                        }
                    }

                    @-o-keyframes "bannerMove" {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-100%);
                        }
                    }
                }

                &:last-child {
                    animation-delay: 20s;
                }
            }
        }
    }
}
