.review-detail-wrapper {
    .review-contents {
        .review-area {
            .review-box {
            }
        }

        .review-content-wrapper {
            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            ul[data-checked=false] {
                list-style-type: square;
            }

            ol {
                display: block;
                list-style-type: decimal;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }

            p {
                font-size: 16px;
            }

            .ql-size-large {
                font-size: 20px;
            }

            .ql-size-huge {
                font-size: 24px;
            }

            .ql-size-small {
                font-size: 12px;
            }

            @include mobile {
                p {
                    font-size: 14px;
                }

                .ql-size-large {
                    font-size: 18px;
                }

                .ql-size-huge {
                    font-size: 22px;
                }

                .ql-size-small {
                    font-size: 10px;
                }
            }
        }
    }

    .review-summary-wrapper {
        .summary-box {
            .text-area {
                width: calc(100% - 195px);
                .content {
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                }
            }
        }
    }

    @include mobile() {
        padding-bottom: 60px !important;

        .review-contents {
            max-width: 608px;
            width: calc(100vw - 50px);
            margin-left: 25px;
            margin-right: 25px;

            .review-header {
                padding-top: 30px;
                padding-bottom: 20px;

                .title {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                .desc {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }

            .review-content-wrapper {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .creator-wrapper {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        .review-summary-wrapper {
            max-width: 608px;
            width: calc(100vw - 50px);
            margin-left: 25px;
            margin-right: 25px;
            padding-top: 40px;

            .summary-header {
                font-size: 16px;
                font-weight: 600;
            }

            .summary-box {
                padding-bottom: 25px;

                .text-area {
                    width: calc(100% - 120px);

                    .title {
                        margin-bottom: 8px;
                    }

                    .content {
                        margin-bottom: 10px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                    }
                }

                .img-area {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                    min-height: 100px;
                    margin-left: 20px;
                }
            }
        }
    }
}
