.sub-wrapper {
    padding-top: $header-height;

    .banner-wrapper {
        .banner {
            background-image: url('/assets/images/sub/sub_banner@1x.jpg');
            background-size: cover;

            @include mobile {
                padding-left: 25px;
            }

            div {
                &:first-child {
                    font-size: 36px;
                    line-height: 43px;
                }

                &:last-child {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }

    .intro-wrapper {
        .intro-contents {
            &.mobile {
                width: calc(100% - 50px);

                .text-area {
                }

                .first-row {
                    .image-wrapper {
                        aspect-ratio: 1 / 1;
                    }
                }
            }

            .text-area {
                .text-main {
                    @include mobile {
                        font-size: 22px;
                        line-height: 26.25px;
                        margin-bottom: 5px;
                    }
                }

                .text-sub {
                    @include mobile {
                        font-size: 14px;
                        line-height: 16.7px;
                    }
                }

                .text-sub {
                }
            }

            .image-area {
                .image-wrapper {
                    aspect-ratio: 150 / 150;
                }
                .two-line {
                }
            }
        }
    }

    .manage-wrapper {
        @include mobile {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .manage-contents {
            @include mobile {
                display: flex;
                justify-content: center;
                max-width: 608px;
                width: 100%;
                margin-left: 25px;
                margin-right: 25px;
            }

            .text-area {
                div {
                    &:first-child {
                        @include mobile {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 28px;
                        }
                    }

                    &:last-child {
                        @include mobile {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                        }
                    }
                }
            }
            .list-area {
                @include mobile {
                    display: flex;
                    flex-direction: column;
                }

                .content-wrapper {
                    &.has-img {
                        grid-column: 1 / 3;
                    }


                    @include mobile {
                        width: 100%;
                        max-width: 608px;
                    }

                    //.slide-fade {
                    //    width: 100%;
                    //    max-width: 608px;
                    //}

                    .slide-fade-enter-active,
                    .slide-fade-leave-active {
                        transition: all 0.25s ease;
                        transform: scaleY(1);
                        transform-origin: top;
                        overflow: hidden;
                    }

                    .slide-fade-enter-from,
                    .slide-fade-leave-to {
                        transform: scaleY(0);
                    }

                    .slide-fade-enter-to,
                    .slide-fade-leave-from {
                        transform: scaleY(1);
                        transform-origin: top;
                    }

                    .arrow {
                        animation: closeSpin 0.25s linear;
                        transform: rotate(0deg);
                    }

                    .info-label {
                        .info-box {
                            &:first-child {
                                margin-top: 30px;
                            }

                            &:last-child {
                                margin-bottom: 10px;
                            }

                            .info-img-area {
                                div {
                                    aspect-ratio: 162 / 162 !important;
                                }
                            }

                            @include mobile {
                                flex-direction: column;

                                .info-img-area {
                                    margin-top: 15px;
                                    min-width: 100%;
                                }
                            }
                        }
                    }

                    &.active {
                        .arrow {
                            animation: openSpin 0.25s linear;
                            transform: rotate(-180deg);
                        }

                        .info-label {
                            width: calc(100% + 3px) !important;

                            @include mobile {
                                max-width: 608px;
                            }
                        }
                    }
                }
            }
        }
    }

    .promotion-wrapper {
        @include mobile {
            margin-bottom: 80px;
        }

        .promotion-content {
            @include mobile {
                width: calc(100% - 50px);
            }

            .text-area {
                @include mobile {
                    div:first-child {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 28px;
                    }

                    div:last-child {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                    }
                }
            }
            .main-image {
                //img {
                //    aspect-ratio: 880 / 300;
                //    @include mobile {
                //        aspect-ratio: 325 / 430;
                //    }
                //}
            }
            .sub-promotion-list {
                .sub-promotion {
                    &.single {
                        .promotion-box {
                            img {
                                aspect-ratio: 880 / 180;

                                @include mobile {
                                    aspect-ratio: 325 / 180;
                                }
                            }
                        }
                    }

                    &.double {
                        .promotion-box {
                            img {
                                aspect-ratio: 430 / 180;
                            }
                        }
                    }

                    &.multi {
                        .flicking-area {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            .flicking-camera {
                                display: inline-flex;
                                padding-left: 10px;

                                .promotion-box {
                                    img {
                                        aspect-ratio: 430 / 180;
                                    }
                                }
                            }
                        }
                    }

                    @include mobile {
                        .flicking-area {
                            .flicking-camera {
                                display: flex;
                                .promotion-box {
                                    img {
                                        aspect-ratio: 325 / 180;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .service-wrapper {
        @include mobile {
            width: 100vw;
            max-width: 658px;
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 80px;
        }

        .text-area {
            @include mobile {
                div {
                    &:first-child {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 28px;
                    }

                    &:last-child {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                    }
                }
            }
        }

        .service-area {
            &.third-grid {
                .service-box {
                    &:first-child {
                        grid-row: 1 / 3;
                    }
                }
            }

            @include mobile {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .service-box {
                    width: 100%;
                    max-width: 608px;
                    padding: 20px;
                    min-height: 100px;
                    display: inline-flex;
                    height: max-content;

                    img {
                        width: 35px;
                        height: 35px;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        .title {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21px;
                            margin-bottom: 5px;
                        }

                        .desc {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }

    .check-wrapper {
        @include mobile {
            width: 100%;
            max-width: 658px;
            padding-left: 25px;
            padding-right: 25px;
            flex-direction: column;
            margin-bottom: 80px;

            .text-area {
                .main {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 28px;
                }

                .sub {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                }
            }
            .check-btn {
                margin-top: 30px;
            }
        }
    }
}

@keyframes closeSpin {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes openSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}
